@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme{
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}
@layer base {
    html {
        font-family: var(--font-jakarta);
    }
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    animation: scroll 10s linear infinite;
}